{% extends 'index.html' %}
{% load static %}

{% block title %}
    QUARTOS
{% endblock %}

{% block body %}
    <div class="container card-container d-flex flex-wrap justify-content-around">
        {% for item in dados_quarto %}
            <div class="card mb-4">
                <img src="{{ item.foto_quarto.url }}" class="card-img-top" alt="Quarto">
                <div class="card-body">
                    <h5 class="card-title">{{ item.tipo }}</h5>
                    <p class="card-text">{{ item.descricao }}</p>
                    <p class="card-text">Disponibilidade: {{ item.disponibilidade }}</p>
                    <p class="card-text">R$ {{ item.valor }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
